* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #41AE46;
    display: flex;
    justify-content: space-between;
}

.cabecalho-intens {
    front-size: 36px;
    margin: 15px;
    display: inline-block;
}

.cabecalho-logo {
    width: 25%;
    height: 20%;
}